body{
    background-color:rgb(163, 163, 255);
}
.nav{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    width: 100%;
    margin-left: 20px;
}
.nav a{
    text-align: center;
    float:unset;
}
.main{
    font-family: Arial, Helvetica, sans-serif;
}
.plate_1{
    width: 80%;
    background-color: powderblue;
    margin: 5%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(116, 45, 197, 0.945);
   
}
.plate_1:hover{
    box-shadow: 10px 10px 25px rgba(63, 15, 117, 0.945)  ;
}
/* second card */
.plate_2{
    width: 80%;
    background-color: rgb(253, 246, 255);
    margin: 5%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(116, 45, 197, 0.945);
}
.plate_2:hover{
    box-shadow: 10px 10px 25px rgba(63, 15, 117, 0.945) ;
}
/* third card */
.plate_3{
    width: 80%;
    background-color: rgb(242, 250, 169);
    margin: 5%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(116, 45, 197, 0.945);
}
.plate_3:hover{
    box-shadow: 10px 10px 25px rgba(63, 15, 117, 0.945) ;
}
a{
    text-decoration: none white;
    color: black;
}
a:hover{
    color:white;
    transition: 0.3s;
}
.image img{
    width: 100%;
    border-radius: 5px;
}
.title{
    text-align: center;
    margin-top: 5px;

}
.button_{
    text-align: center;
}
.des{
    text-align:center;
    margin-bottom: 5px;

}

button{
    border-radius: 5px;
    border:1px solid black;
}
button:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}